@use './cssReset.scss';
@use './flexHelpers.scss';
@use './spacing.scss';
@use './colors.scss';
@use './markdown.scss';
@use './variables.scss' as vars;

html {
  scroll-behavior: smooth;
}

body {
  background: vars.$bg-img;
}

main {
  width: 100%;
  min-height: 100%;
}

.full-width {
  width: 100%;
}

.full-height {
  min-height: 100% !important;
  height: fit-content;
}

.fluid {
  @extend .full-height, .full-width;
}